<h3><a routerLink="/projects/{{project.$key}}">{{project.name}}</a> &raquo; {{ languageName }}</h3>
<table *ngIf="translations != null" class="mdl-data-table mdl-shadow--2dp">
  <colgroup>
    <col style="width: 15%" />
    <col style="width: 20%" />
    <col style="width: 65%" />
  </colgroup>
  <thead>
    <tr>
        <th class="mdl-data-table__cell--non-numeric">Term</th>
        <th class="mdl-data-table__cell--non-numeric">Context</th>
        <th class="mdl-data-table__cell--non-numeric">Translation</th>
    </tr>
  </thead>
  <tr *ngFor="let translation of translations | async">    
    <td class="mdl-data-table__cell--non-numeric">{{translation.term.$key}}</td>
    <td class="mdl-data-table__cell--non-numeric">{{translation.term.context}}</td>
    <td class="mdl-data-table__cell--non-numeric">
        <edit-inplace-text [text]="translation.value" (save)="save($event, translation)"></edit-inplace-text>
    </td>
  </tr>
</table>