<h3>Projects</h3>
<div class="projects-grid">
  <md-card class="project-card" *ngFor="let project of projects | async" routerLink="/projects/{{project.$key}}">  
    <md-card-content>
      <h4>{{project.name}}</h4>
      <p>
        <strong>10000</strong> strings
      </p>      
      <!--<span>Languages</span>
      <p *ngIf="project.languages != null">
        <a md-button color="accent" *ngFor="let language of getLanguages(project)" routerLink="/translations/{{project.$key}}/{{language.code}}">{{language.name}}</a>
      </p>
      <p *ngIf="project.languages == null">
        No
      </p>-->
      <div style="display: block">
        <canvas baseChart
            [data]="projectProgressChartData"
            [labels]="projectProgressChartLabels"
            [options]="chartOptions"
            chartType="doughnut"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>
      </div>
    </md-card-content>
  </md-card>
  <md-card class="new-project-card">
    <md-card-content>
        <a md-raised-button color="primary" routerLink="/new-project">Add new project</a>
    </md-card-content>
  </md-card>
</div>