<md-sidenav-container fullscreen>
    <div class="content">
      <md-toolbar color="primary">
          <a *ngFor="let item of items" 
            md-button
            [routerLink]="[item.path]">
            {{item.title}}            
          </a>
        <span class="example-fill-remaining-space"></span>
        <button md-button *ngIf="authenticated"><md-icon>person</md-icon> {{ user.displayName }}</button>
        <button md-button *ngIf="authenticated" (click)="logout()">Logout</button>
      </md-toolbar>      
      <div class="container">
        <router-outlet></router-outlet>
      </div>
    </div>
</md-sidenav-container>