<p></p>
<p>
  <a *ngIf="!editing" md-raised-button color="primary" (click)="showAddForm()">Add new language</a>
</p>
<form *ngIf="editing">
  <h4>Add new language</h4>
  <p>  
    <md-select placeholder="Language" name="newLanguage" [(ngModel)]="newLanguage">
      <md-option *ngFor="let language of allLanguages" [value]="language">{{ language.name }}</md-option>
    </md-select>
    <button md-raised-button color="primary" (click)="add()">Add</button>
    <a md-button (click)="cancel()">Cancel</a>
  </p>
</form>
<table *ngIf="languages != null" class="mdl-data-table mdl-shadow--2dp">
  <thead>
    <tr>
        <th class="mdl-data-table__cell--non-numeric">Language</th>
        <th class="mdl-data-table__cell--non-numeric">Progress</th>
        <th class="mdl-data-table__cell--non-numeric">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let language of languages">
      <td class="mdl-data-table__cell--non-numeric"><a md-raised-button color="accent" routerLink="/translations/{{project.$key}}/{{language.code}}">{{ language.name }}</a></td>
      <td class="mdl-data-table__cell--non-numeric">100%</td>
      <td class="mdl-data-table__cell--non-numeric"><button md-icon-button (click)="delete(language.code)"><md-icon>delete</md-icon></button></td>
    </tr>
  </tbody>
</table>

